 {% extends "BaseLayouts/layout.html" %}

 {% block headcss %}
 <link rel="stylesheet" href="/css/myCss.css">
 {% endblock %}

 {% block endjs %}{% endblock %}

 {% block pageHeader %} {{ t("titulo edit tarea") }}{% endblock %}

 {% block content %}

<div class="row">
    <div class="col-lg-12">
        <form method="post" action="/tareas/editar" >
            <div class="panel panel-info">
                <div class="panel-heading">{{ t("tarea edit datos basicos") }}</div>
                <div class="panel-body">
                    {{ form.hiddenKey( "Tarea", tarea) }}

                     {{ form.text( "titulo", tarea, SchemaTarea, errors , t("tarea add titulo")) }}

                     {{ form.text( "mensaje", tarea, SchemaTarea, errors , t("tarea add mensaje")) }}

                </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right" style="margin:5px">{{ t("boton edit tarea") }}</button>
        </form>

        <form method="post" action="/tareas/eliminar" >
            {{ form.hiddenKey( "Tarea", tarea) }}
            <button type="submit" class="btn btn-danger pull-right" style="margin:5px">{{ t("boton delete tarea") }}</button>
        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endblock %} 

{% block beforebodyclose %}
{% endblock %}